<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
</head>
<body>
    <header>
        <h1>LITReview</h1>
        {% if connected %}
            <ul>
                <li><a href="flux">Flux</a></li>
                <li><a href="posts">Posts</a></li>
                <li><a href="follow">Abonnements</a></li>
                <li><a href="disconnect">Se déconnecter</a></li>
            </ul>
        {% endif %}
    </header>
    <div class="main-container">
        {{ content }}
    </div>
</body>
</html>