{% load static %}
<div style="border: solid 1px black; padding: 10px; margin: 10px;">
    <p>{{ ticket.user.username }} a demandé une critique</p>
    <p>{{ ticket.time_created }}</p>
    <h3>{{ ticket.title }}</h3>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
        <img src="{% static ticket.image.path %}" alt="couverture {{ ticket.title }}">
    {% endif %}
    {% if not post_page and not reviewed %}
        <a href="{% url 'review_creation' %}">Créer une critique</a>
    {% elif post_page and not reviewed %}
        <a href="{% url 'ticket_modification' ticket_id=ticket.id %}">Modifier</a>
        <a href="{% url 'ticket_deletion' ticket_id=ticket.id %}">Supprimer</a>
    {% endif %}
</div>