.filled-stars{
    color: darkorange
}

.empty-stars{
    color: rgba(200, 200, 200, 0.7);
}

form {
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
}

nav>ul{
    display: flex;
    flex-direction: row;
}

nav>ul>li {
    list-style: none;
    padding-left: 100px;
}